#toast-container {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    position: fixed;
}

.toast {
    margin-bottom: 0.5rem;
    padding: 0.75rem;
    border-radius: 3px;
    color: $black;
}

.toast-success { background-color: $success; }
.toast-error { background-color: $alert; }
.toast-warning { background-color: $warn; }
